:root {
    --border-style: 0.8px solid rgb(87, 87, 87);
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    transition: all 0.5s ease;
}

a{
    all: unset;
}

.container{
    height: 100%;
    width: 65%;

    display: flex;
    gap: 3%;
}

/*--------------LEFT SIDE--------------*/
#left_side{
    flex: 1;
    max-height: 100vh;
    padding-bottom: 2%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

#ul_cat{
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1%;
}

li{
    list-style: none;
}

.li_cat{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .3vw;

    height: 4%;
    padding: 3%;
    font-size: 125%;
    font-weight: bold;
    white-space: nowrap;
    color: white;

    border-radius: 50px;
}

svg{
    height: 70%;
    width: 30px;
    fill: white;
}

#but_post{
    width: 100%;
    height: 5%;
    margin-top: 5%;
    background-color: white;
    border-radius: 50px;
    border: none;

    font-weight: bold;
    font-size: 130%;
}

#div_compte{
    height: 5%;
    padding: 1% 4% 1% 2%;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info_compte{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.img_profile{
    height: 100%;
    margin-left: 2%;
    border-radius: 50px;
}

#div_nom{
    height: 80%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.p_info{
    margin: 0;
    padding: 0;
}

.p_pseudo{
    font-size: 90%;
    color: rgba(163, 163, 163, 0.688) !important;
}

.hov_but:hover{
    background-color: rgba(199, 199, 199, 0.166);
    cursor: pointer;
}

/*--------------MAIN--------------*/
#main_content {
    flex: 3;
    height: 100%;
    max-height: 100vh; 
    overflow-y: auto;
    border-left: var(--border-style);
    border-right: var(--border-style);
}

#main_content::-webkit-scrollbar {
    display: none;
}

/* Head */
#head_content{
    border-bottom: var(--border-style);
    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_select_scroll{
    color: white;
    font-weight: bold;
}

#div_visu_select{
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
}

#unselect{
    color: gray;
}

/* Post */
#div_post{
    border-bottom: var(--border-style);
    padding: 2%;

    display: flex;
    gap: 2%;
}

.img_post{
    height: 40px;
    width: 40px;
    margin-top: 2%;
}

#div_input{
    width: 100%;
    height: 100%;
}

#input_post {
    min-height: 3vh;
    height: 3vh;
    width: 100%;
    outline: none;
    background-color: transparent;
    margin: 2% 0;
    font-size: 150%;
    font-weight: 600;
    color: white;
    border: none;
    resize: none;
    overflow-y: hidden;
    min-height: 1.5em;
    line-height: 1.2em;
    padding: 5px;
}

#input_post.placeholder-active {
    color: rgba(128, 128, 128, 0.476);
    font-weight: 600;
}

#div_button{
    border-top: var(--border-style);
    padding-top: 3%;

    display: flex;
    justify-content: space-between;
}

#ul_but_post{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

#imageInput{
    display: none;
}

.svg_post{
    height: 20px;
    width: 20px;
    fill: rgb(29, 155, 240);
    padding: 3px;
    border-radius: 50px;
}

.svg_post:hover{
    background-color: rgba(29, 156, 240, 0.3);
}

#but_post_main{
    background-color: white;
    border-radius: 50px;
    border: none;
    padding: 2% 3% 2% 3%;

    font-weight: 600;
    font-size: 100%;
}

.content_post{
    min-height: 1vh;
    width: 100%;
    border-bottom: var(--border-style);
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

.content_post_rt{
    padding-top: 0% !important;
}

.div_image{
    flex: .3;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: .5;
}

.div_feed_post{
    flex: 5;
    width: 100%;
    height: 100%;
}

.header_feed_post{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 2%;
}

.p_nom_post{
    color: white;
    font-weight: bold;
}

.p_nom_post:hover{
    text-decoration: underline;
}

#text_marge{
    margin-right: 5%;
}

.p_text_post{
    color: white;
    white-space: wrap;
    width: 100%;
    margin-top: .5%;
    margin-bottom: .5%;

    font-weight: 300;
}

.div_img_post{
    margin-top: 2%;
    border-radius: 10px;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.div_img_post:has(:nth-child(1):last-child) img{
    width: 100%;   
}

.div_img_post:has(:nth-child(2):last-child){
    gap: 4px;
}

.div_img_post:has(:nth-child(2):last-child) img{
    flex: 1;
    max-width: 50%;
}

.div_img_post:has(:nth-child(3):last-child) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 4px;
}

.div_img_post:has(:nth-child(3):last-child) img:first-child {
    grid-row: span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_img_post:has(:nth-child(3):last-child) img:nth-child(2),
.div_img_post:has(:nth-child(3):last-child) img:nth-child(3) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_img_post:has(:nth-child(4):last-child) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 4px;
}

.div_img_post:has(:nth-child(4):last-child) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.div_img_post:has(:nth-child(4):last-child) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.but_submit{
    border: none;
    background-color: transparent;
    color: rgb(87, 87, 87);
    font-size: 80%;
    font-weight: 200;
}

.button_post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.ul_feed_but_post{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15%;
    margin: 0;
    padding: 0;
}
.form_but_post{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li_but_post{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: rgb(87, 87, 87);
    padding: 3px;
    border-radius: 50px;
}

.svg_but_post{
    fill: rgb(87, 87, 87);
    height: 20px;
    width: 20px;
}

/* Pour le bleu */
.li_but_post:hover {
    background-color: rgba(29, 156, 240, 0.3);
}

.li_but_post:hover .svg_but_post {
    fill: rgb(29, 155, 240);
}

.li_but_post:hover .p_info_but {
    color: rgb(29, 155, 240);
}

/* Pour le vert */
.li_but_post:hover.hov_green {
    background-color: rgba(0, 186, 124, 0.3);
}

.li_but_post:hover.hov_green .svg_but_post {
    fill: rgb(0, 186, 124);
}

.li_but_post:hover.hov_green .p_info_but {
    color: rgb(0, 186, 124);
}

.li_but_post:hover.hov_green .but_submit {
    color: rgb(0, 186, 124);
}

/* Pour le rouge */
.li_but_post:hover.hov_red {
    background-color: rgba(249, 24, 128, 0.3);
}

.li_but_post:hover.hov_red .svg_but_post {
    fill: rgb(249, 24, 128);
}

.li_but_post:hover.hov_red .p_info_but {
    color: rgb(249, 24, 128);
}

.p_info_but{
    margin: 0;
    padding: 0;
    font-size: 90%;
    font-weight: 300;
}

.but_feed_post{
    background-color: transparent;
    border: none;
    padding: 0;
}

.hov_blue_svg{
    padding: 3px;
    border-radius: 50px;
}

.hov_blue_svg:hover{
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 156, 240, 0.3);
}

/*--------------RT--------------*/
.div_rt{
    position: absolute;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 9vh;
    width: 5.5vw;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 5px 0px white;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 10;
}

.div_rep{
    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 10%;
}

.div_rep svg{
    height: 30px;
    width: 30px;
}

.div_rep button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: white !important;
    font-weight: bold;
    font-size: 100%;
}

.div_retweet{
    margin-left: 7%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.div_retweet svg{
    width: 20px;
    height: 20px;
    fill: rgb(155, 155, 155);
}

.div_retweet p{
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

/*--------------RIGHT SIDE--------------*/
#right_side{
    height: 100%;
    flex: 1.5;
}

/*--------------CITATION--------------*/
.post_citation{
    border: solid 1px rgb(87, 87, 87);
    border-radius: 10px;
    padding: 3%;
    margin-right: 4%;
}

#background_popup{
    width: 100vw;
    height: 100vh;
  
    display: none;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    top: 0;
    left: 0;
  
    background-color: rgba(91, 112, 131, 0.4);
    z-index: 9999;
}
  
#popup_connexion{
    width: 31vw;
    height: 34vw;
  
    background-color: black;
    border-radius: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
#button_close{
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
  
    top: 3%;
    left: 3%;
    font-size: 125%;
}

#div_citation{
    width: 30%;
    height: 30%;
    background-color: black;
    border-radius: 10px;
}

.head_post_reply{
    display: flex;
}

.post_reply_citation{
    padding: 1%;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-right: 5%;
    border: solid 1px rgb(87, 87, 87);
    border-radius: 10px;
}


/*----------------------WHO TO FOLLOW----------------------*/

.whotofollow{
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    border: var(--border-style);
    border-radius: 10px;
    padding: 5%;
    gap: 1vh;
}
.whotofollow h1{
    color: white;
    font-size: 125%;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
}

.div_follow{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;    
    margin-bottom: 2vh;
}

.div_follow:last-child{
    margin-bottom: 0;
}

.left_follow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_follow{
    height: 7vh;
    width: 7vh;
    border-radius: 50px;
}

.div_nom_follow{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2%;   
}

.div_nom_follow p{
    white-space: nowrap;
}

.but_follow{
    height: 50%;
    border: none;
    border-radius: 50px;
    background-color: white;
    padding: 3%;
    font-size: 90%;
    font-weight: bold;
}